.coverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}

.coverImageDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.image {
    height: 60%;
    width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.subText {
  color: #292929;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.footerText {
  color: #292929;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
}
